.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Circularstd, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: underline;
}

.header {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  padding: 24px 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin-right: auto;
  margin-left: auto;
}

.container.large {
  max-width: 1344px;
}

.container.align-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.container.margin-l {
  margin-top: 0px;
  padding-top: 104px;
  padding-bottom: 104px;
}

.nav-wrap {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.nav-logo {
  width: 240px;
  padding-top: 8px;
}

.nav-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  padding: 10px 24px;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #fff;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: #000;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.button.black {
  background-color: #000;
  color: #fff;
}

.button.black:hover {
  border-color: #303030;
  background-color: #303030;
}

.button.black.form {
  margin-left: 24px;
}

.button.nav {
  padding: 8px 20px;
}

.button.nav.hide-on-mobile {
  border-color: #000;
  background-color: #fff;
  color: #000;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.65;
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.nav-link.last {
  margin-right: 0px;
}

.section {
  position: relative;
  display: none;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: transparent;
}

.section.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 100vh;
  max-height: 800px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-family: 'Euclid Bolt', sans-serif;
  color: #2c2c30;
}

.section.full {
  padding-right: 0px;
  padding-left: 0px;
}

.section.off-white {
  background-color: #f5f3f2;
}

.section.footer {
  background-color: #f5f3f2;
  background-image: linear-gradient(182deg, #f5f3f2 31%, #fff 51%, #f5f3f2 70%, rgba(201, 227, 197, 0.09) 99%, rgba(199, 226, 194, 0.22) 100%, hsla(0, 0%, 68%, 0.22) 0, #000);
}

.section.gradient-180 {
  display: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e6def0), color-stop(95%, #c1dedc));
  background-image: linear-gradient(180deg, #e6def0 5%, #c1dedc 95%);
}

.section.margin-top-76 {
  margin-top: 76px;
}

.section.backgroud-2 {
  background-color: #fff;
}

.hero_text-wrap {
  position: relative;
  z-index: 5;
  width: 56%;
  max-width: 560px;
}

.h1 {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 64px;
  line-height: 72px;
}

.inline {
  position: relative;
  display: inline-block;
}

.paragraph.hero {
  max-width: 480px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.hero-form {
  display: none;
  width: 100%;
  height: 56px;
  margin-left: -22px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-field {
  display: none;
  height: 100%;
  margin-bottom: 0px;
  padding: 14px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 18px;
}

.form-field:hover {
  border-style: solid;
  border-color: #000;
}

.form-field:focus {
  padding: 13px 24px;
  border-width: 2px;
  border-color: #000;
}

.form-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field.white {
  display: none;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.form-field.white:focus {
  border-color: #000;
}

.creators_wrap {
  position: relative;
  display: none;
  padding-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.creator_block {
  display: block;
  min-width: 394px;
  margin-right: 24px;
  padding: 32px;
  border-radius: 12px;
  background-color: #fff;
}

.creator_container {
  overflow: hidden;
  padding: 64px 24px 120px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.creator_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.block_top-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-profile-img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}

.block_username {
  font-size: 24px;
  font-weight: 700;
}

.block_followers {
  margin-top: 5px;
}

.block_text {
  max-width: 330px;
}

.hero_illustration {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: visible;
  width: 65vw;
  height: 100%;
}

.illustration {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  max-height: 750px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
}

.illustration._2 {
  z-index: 2;
}

.illustration._1 {
  z-index: 1;
}

.illustration._3 {
  z-index: 3;
}

.illustration._4 {
  z-index: 4;
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.full-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 40px;
}

.h3.centre {
  text-align: center;
}

.h3.centre.contact-header {
  margin-bottom: 40px;
}

.b1-bar2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #24232f;
}

.b1-bar1 {
  width: 24px;
  height: 2px;
  background-color: #24232f;
}

.hero_mobile-image {
  display: none;
}

.how_wrap {
  display: none;
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 56px;
  line-height: 64px;
}

.h2.how {
  margin-bottom: 32px;
}

.h2.about-us {
  font-size: 48px;
}

.how_grid {
  width: 100%;
  margin-top: 88px;
  grid-column-gap: 48px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.how_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-image {
  display: block;
  width: 104px;
  margin-bottom: 40px;
}

.how_text {
  margin-top: 16px;
  text-align: center;
}

.feature_wrap {
  padding-top: 66px;
  padding-bottom: 106px;
  font-family: 'Euclid Bolt', sans-serif;
}

.feature_wrap._2 {
  display: none;
  padding-bottom: 140px;
  background-color: #f2f2f2;
  font-family: 'Euclid Bolt', sans-serif;
}

.feature_grid {
  height: 52vw;
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._480 {
  max-width: 480px;
}

._480.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

.feature_image-wrap {
  position: relative;
  width: 100%;
  max-width: 567px;
}

.feature_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
}

.brand_wrap {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.brand_container {
  overflow: visible;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand_content {
  display: -ms-grid;
  display: grid;
  padding-top: 64px;
  padding-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.brand_block {
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  background-color: #fff;
}

.brand_image {
  position: relative;
  display: block;
  width: 100%;
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.brand_logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand_logo {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.brand_grid-text {
  padding-top: 120px;
  padding-bottom: 120px;
}

.success-message {
  border-radius: 12px;
  background-color: #c1dedc;
  background-image: linear-gradient(135deg, #e6def0, #c1dedc);
}

.about-menu-wrap {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: block;
  overflow: auto;
  width: 50vw;
  min-width: 720px;
  padding: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.close-block {
  position: absolute;
  left: auto;
  top: 22px;
  right: 22px;
  bottom: auto;
  z-index: 3;
  padding: 10px;
}

.close {
  display: block;
  width: 17px;
}

.about-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.influencer-logo {
  display: block;
  width: 150px;
}

.about-wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-text {
  display: block;
  margin-bottom: 56px;
}

.faq_container {
  display: none;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.faq_wrapper {
  width: 100%;
  margin-top: 72px;
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 28px;
}

.faq_arrow {
  width: 24px;
}

.faq_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.faq_bottom {
  overflow: hidden;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.faq_divider {
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.15);
}

.faq_text {
  margin-top: 16px;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-grid {
  margin-bottom: 88px;
  grid-column-gap: 56px;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer_cta {
  width: 100%;
  max-width: 560px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Euclid Bolt', sans-serif;
  text-align: center;
}

.footer-text {
  max-width: 480px;
  margin: 24px auto 40px;
}

.form-block {
  margin-bottom: 0px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.15);
}

.footer-link {
  display: block;
  margin-bottom: 16px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #000;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.65;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 277px;
  margin-top: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-img {
  max-width: 240px;
  margin-bottom: 24px;
}

.footer-small-text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

.footer-small-text.no-margin {
  margin-bottom: 0px;
  font-size: 18px;
}

.footer-small-text.no-margin.bold {
  margin-bottom: 16px;
  font-weight: 700;
}

.fotter_bottom-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.small {
  font-size: 16px;
  line-height: 24px;
}

.small.right {
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
}

.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  width: 100vw;
  height: 100vh;
}

.blur {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.25);
}

.loader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.lottie {
  height: 150px;
}

.nav_button-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  display: none;
  padding-top: 24px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hamburger {
  display: none;
  width: 32px;
  height: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  width: 100vw;
  height: 100vh;
}

.mobile-menu-modal {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 50vw;
  min-width: 720px;
  padding: 56px 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.mob-menu-wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid {
  grid-column-gap: 56px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.tab-link {
  display: inline-block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 16px 24px;
  border-left: 4px solid #f5f3f2;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.tab-link.w--current {
  width: 100%;
  margin-right: 0px;
  padding: 16px 24px;
  border-left: 4px solid #000;
  background-color: #fff;
}

.margin-40 {
  margin-bottom: 40px;
}

.error-message {
  background-color: #fce1e4;
}

.error-text {
  color: #ee2139;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.div-block-3 {
  margin-bottom: 32px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  font-family: 'Euclid Bolt', sans-serif;
  color: #fff;
}

.navbar_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1232px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-credit {
  margin-left: 10px;
  font-size: 16px;
  line-height: 24px;
}

.footer-credit.right {
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
}

.button-icon-small-secondary {
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px 12px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #0a0a0a;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #161616;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon-small-secondary:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button-icon-small-secondary.margin-right-small {
  margin-right: 16px;
}

.button-icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  background-color: #000;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-2 {
  background-color: #c7c0c0;
}

@media screen and (min-width: 1440px) {
  .container.large.absolute {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .hero_text-wrap {
    max-width: 560px;
  }

  .hero_illustration {
    width: 100%;
  }

  .illustration {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: auto;
    height: 750px;
  }

  .feature_grid {
    height: 640px;
  }

  .brand_content {
    grid-row-gap: 32px;
  }

  .contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .header {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container {
    width: 90%;
  }

  .container.large {
    position: relative;
    z-index: 2;
  }

  .container.large.absolute {
    height: 100%;
  }

  .container.margin-l {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .nav-wrap {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-logo {
    width: 200px;
    padding-top: 4px;
  }

  .nav-link-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .button.black.form {
    margin-left: 10px;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section.hero {
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    padding-top: 64px;
    padding-bottom: 120px;
  }

  .hero_text-wrap {
    width: 60%;
  }

  .h1 {
    font-size: 48px;
    line-height: 1.2;
  }

  .creators_wrap {
    padding-top: 80px;
  }

  .creator_block {
    display: block;
  }

  .creator_container {
    padding-bottom: 80px;
  }

  .h3 {
    font-size: 28px;
    line-height: 1.2;
  }

  .b1-bar1 {
    height: 2px;
  }

  .how_wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .h2 {
    font-size: 40px;
    line-height: 1.2;
  }

  .how_grid {
    grid-column-gap: 24px;
  }

  .how_text {
    margin-bottom: auto;
  }

  .feature_wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .feature_wrap._2 {
    padding-bottom: 120px;
  }

  .brand_content {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .brand_image {
    min-height: 0px;
  }

  .brand_logo-wrap {
    padding: 15px;
  }

  .close-block {
    top: 24px;
    right: 24px;
  }

  .faq_container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .h4 {
    font-size: 22px;
    line-height: 1.3;
  }

  .footer-grid {
    grid-column-gap: 22px;
    grid-row-gap: 50px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .contact {
    padding-top: 64px;
  }

  .about-menu {
    display: none;
  }

  .blur {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .nav_button-wrap {
    display: none;
    padding-top: 20px;
    padding-right: 0px;
  }

  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-modal {
    display: block;
    width: 80%;
    min-width: auto;
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c1dedc), to(#e6def0));
    background-image: linear-gradient(180deg, #c1dedc, #e6def0);
  }

  .navbar {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar_container {
    width: 90%;
  }

  .button-icon-small-secondary {
    position: static;
    top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 0px;
  }

  .container {
    width: 90%;
  }

  .container.margin-l {
    padding-top: 40px;
    padding-bottom: 64px;
  }

  .nav-wrap {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-logo {
    width: 200px;
    margin-top: 4px;
  }

  .nav-link-wrap {
    display: none;
  }

  .nav-link-wrap.in-menu {
    display: block;
  }

  .button.black.form {
    height: 56px;
    margin-top: 24px;
    margin-left: 0px;
  }

  .button.nav {
    padding: 8px 16px;
  }

  .nav-link {
    margin-right: 16px;
    margin-left: 16px;
  }

  .nav-link.about-open {
    margin-right: 16px;
    margin-left: 0px;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section.hero {
    padding: 56px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero_text-wrap {
    width: 100%;
    max-width: none;
  }

  .paragraph.hero {
    margin-top: 24px;
  }

  .hero-form {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .creators_wrap {
    padding-top: 80px;
  }

  .creator_block {
    display: block;
  }

  .creator_container {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .hero_illustration {
    position: relative;
    display: none;
    width: 100%;
    height: 408px;
    margin-top: 48px;
  }

  .illustration {
    width: auto;
    height: 408px;
    margin-right: auto;
    margin-left: auto;
  }

  .full-centre {
    padding-right: 20px;
    padding-left: 20px;
  }

  .b1-bar2 {
    height: 2px;
  }

  .b1-bar1 {
    height: 2px;
  }

  .hero_mobile-image {
    display: block;
    width: 100%;
    margin-top: 16px;
  }

  .how_wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .how_grid {
    margin-top: 48px;
    justify-items: center;
    grid-row-gap: 48px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .how_block {
    max-width: 300px;
  }

  .work-image {
    margin-bottom: 24px;
  }

  .feature_wrap {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .feature_wrap._2 {
    padding-bottom: 80px;
  }

  .feature_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .feature_grid.flip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  ._480 {
    max-width: none;
    margin-bottom: 40px;
  }

  .feature_image-wrap {
    height: auto;
    max-width: none;
  }

  .feature_image._1 {
    position: relative;
  }

  .brand_wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .brand_container {
    width: 100%;
    padding-bottom: 80px;
  }

  .brand_content {
    padding-top: 0px;
    padding-bottom: 0px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .brand_grid-text {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .about-menu-wrap {
    width: 100vw;
    min-width: 0px;
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .faq_container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .h4 {
    font-size: 22px;
    line-height: 34px;
  }

  .footer-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .footer-block {
    max-width: none;
  }

  .fotter_bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .small.right {
    margin: 10px 0px;
  }

  .small.margin-bottom-16 {
    margin-bottom: 16px;
  }

  .footer-flex {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact {
    padding-top: 64px;
  }

  .about-menu {
    z-index: 25;
    height: auto;
  }

  .hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0px;
    margin-top: 16px;
  }

  .mobile-menu-modal {
    position: relative;
    width: 100vw;
    min-width: 0px;
    padding: 24px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(#c1dedc), to(#e6def0));
    background-image: linear-gradient(90deg, #c1dedc, #e6def0);
  }

  .mob-menu-wrap {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid {
    -ms-grid-columns: 1.75fr;
    grid-template-columns: 1.75fr;
  }

  .tabs-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .tab-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding: 16px 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #f5f3f2;
    border-left-style: none;
    text-align: center;
  }

  .tab-link.w--current {
    margin-left: 0px;
    padding: 16px 8px;
    border-bottom-color: #000;
    border-left-style: none;
  }

  .legal-text-wrapper {
    padding-top: 24px;
  }

  .navbar_container {
    width: 90%;
  }

  .nav_logo {
    height: 28px;
  }

  .footer-credit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .footer-credit.right {
    margin: 10px 0px;
  }

  .footer-credit.margin-bottom-16 {
    margin-bottom: 16px;
  }

  .button-icon-small-secondary {
    padding: 10px 16px 10px 14px;
  }

  .button-icon-small-secondary.margin-right-small.mobile-margin-right-zero {
    margin-right: 0px;
  }

  .contact-form {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .header {
    padding-top: 16px;
  }

  .nav-logo {
    width: 180px;
    margin-right: 0px;
  }

  .nav-link-wrap {
    display: none;
  }

  .nav-link-wrap.in-menu {
    display: block;
  }

  .button {
    padding-right: 16px;
    padding-left: 16px;
  }

  .button.black.form {
    margin-top: 16px;
    margin-left: 0px;
  }

  .button.nav.hide-on-mobile {
    display: none;
  }

  .nav-link.about-open {
    margin-left: 0px;
  }

  .section.hero {
    padding-top: 48px;
  }

  .h1 {
    font-size: 40px;
  }

  .hero-form {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-field {
    height: auto;
  }

  .creators_wrap {
    padding-top: 64px;
  }

  .creator_block {
    display: block;
  }

  .creator_container {
    padding-bottom: 64px;
  }

  .block_username {
    font-size: 22px;
  }

  .hero_illustration {
    display: none;
    overflow: visible;
    margin-top: 0px;
  }

  .illustration {
    width: 100%;
    height: 100%;
  }

  .h3.centre {
    font-size: 24px;
    text-align: center;
  }

  .h3.centre.contact-header {
    margin-bottom: 32px;
  }

  .hero_mobile-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 24px;
  }

  .how_wrap {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .h2 {
    font-size: 32px;
  }

  .h2.about-us {
    font-size: 40px;
  }

  .work-image {
    width: 80px;
  }

  .feature_wrap._2 {
    padding-top: 64px;
  }

  ._480.sticky {
    margin-bottom: 0px;
  }

  .feature_image-wrap {
    margin-right: auto;
    margin-left: auto;
  }

  .brand_container {
    padding-bottom: 64px;
  }

  .brand_content {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .brand_logo-wrap {
    height: 60px;
  }

  .brand_logo {
    max-height: 60px;
  }

  .brand_grid-text {
    padding-top: 64px;
  }

  .about-menu-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .about-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .influencer-logo {
    width: 120px;
    margin-top: 20px;
  }

  .faq_container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .h4 {
    margin-right: 20px;
    font-size: 20px;
    line-height: 28px;
  }

  .faq_arrow {
    width: 20px;
    margin-top: 10px;
  }

  .faq_top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-wrap {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .footer-grid {
    margin-bottom: 36px;
    grid-row-gap: 36px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-text {
    margin-bottom: 24px;
  }

  .footer-block {
    margin-top: 24px;
  }

  .footer-small-text {
    margin-bottom: 24px;
  }

  .fotter_bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .small.right {
    margin: 10px 0px;
  }

  .footer-flex {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact {
    padding-top: 40px;
  }

  .hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0px;
    margin-top: 16px;
  }

  .mobile-menu-modal {
    position: relative;
    margin-top: 0px;
    padding: 24px 0px;
  }

  .mob-menu-wrap {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-credit.right {
    margin: 10px 0px;
  }

  .button-icon-small-secondary {
    top: 18px;
    padding: 10px 14px;
    font-size: 13px;
  }

  .button-icon {
    display: none;
  }
}

#w-node-c3b3f129-cc55-0809-ae34-af08ca318d7f-2fabbde3 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c3b3f129-cc55-0809-ae34-af08ca318d7a-2fabbde3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (min-width: 1440px) {
  #w-node-c3b3f129-cc55-0809-ae34-af08ca318d7a-2fabbde3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-c3b3f129-cc55-0809-ae34-af08ca318d7f-2fabbde3 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 0;
    grid-row-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-c3b3f129-cc55-0809-ae34-af08ca318d7a-2fabbde3 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'Euclid Bolt';
  src: url('../fonts/EuclidCircularB-Regular-WebM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid Bolt';
  src: url('../fonts/EuclidCircularB-Semibold-WebM.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}